.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 50px;
  margin-top: 92px;
  width: 100%;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  list-style: none;
  display: flex;
  justify-content: center; 
  gap: 7px;
  padding: 0;
  margin: 0;
}

.header__links-list-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  list-style-position: inside; 
  list-style-type: circle;
}

.header__links-list-item::before {
  content: '';
  display: inline-block;
  width: 7px; 
  height: 7px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 10px;
}

.header__links-list-item:first-child::before {
  content: none; 
}

.header__link {
  text-decoration: underline;
  color: black;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: start;
  margin-left: 36px; 
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end; 
  text-align: left;
  font-style: normal;
  font-size: 18px;
  margin-left: auto;
}

.header__address p {
  margin: 0;
}

main {
  width: 100%;
  margin-bottom: 180px;
}

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  max-height: 757px;
  width: 100%;
  margin: 96px auto 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 165px 50px 51px;
  color: white;
  margin-bottom: 179px;
  z-index: 0;
}

.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover-content {
  position: relative;
  z-index: 2;
  width: 100%;
}

h1 {
  margin: 0;
  line-height: 1.2;
  font-size: 100px;
  width: 1000px;
  letter-spacing: 25px;
  text-transform: uppercase;
  color: white;
}

.cover-content_text {
  display: block;
  text-transform: uppercase;
}

.cover-content_highlight {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-left: -50px;
}

.cover-content_emphasis {
  display: block;
  text-align: right;
  text-transform: uppercase;
  margin: 0;
}

.letter-spacing {
  display: inline-block;
  margin-left: 40px;
}

.last-letter-spacing {
  margin-right: 0;
  letter-spacing: 0px;
}

.cover-subtext {
  margin-top: 130px;
  display: flex;
  width: 100%;
  padding-left: 28px;
  align-items: center;
  text-transform: uppercase;
}

.cover-subtext p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  margin-right: 79px;
  word-spacing: 18px;
}

.button-stav {
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.lots {
  text-align: center;
  width: 100%;
  margin-bottom: 146px;
  padding: 0 24px 0;
}

.lots h2 {
  font-size: 40px;
  display: block;
  margin-bottom: 27px;
  margin-left: 40px;
  text-align: left;
  text-transform: uppercase;
}

.lots-content {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 25px; 
}

.lots-content a {
  text-decoration: none;
}

.lot-card {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 51px 40px 48px;
}

.lot-card h3 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.lot-card h3, .lot-card p {
  position: relative;
  z-index: 2;
  text-align: left;
}

.lot-card p {
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.lot-card:last-child {
  margin-right: 0;
}

.lot-card--film {
  background-image: url('../images/card-lot-01.jpg');
}

.lot-card--book {
  background-image: url('../images/card-lot-02.jpg');
}

.lot-card--painting {
  background-image: url('../images/card-lot-03.jpg');
}

.more-link {
  display: block;
  margin-left: 40px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.about {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 35px 24px 0;
}

.about-content {
  display: flex;
  min-width: 1052px;
  padding-left: 47px;
}

.back-logo {
  width: 240px;
  height: 240px;
  margin-right: 72px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.about-logo {
  width: 148px;
  height: 114px;
}

.about-text {
  max-width: 693px;
  padding-top: 100px;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.about-text p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
}
.about-text p:last-child {
  margin-bottom: 0;
}

footer {
  padding: 0 50px 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.footer-info {
  width: auto;
  text-align: left;
  flex: 1;
  max-width: 237px;
  font-size: 18px;
  font-style: normal;
}

.footer-info a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.footer-menu a {
  text-decoration: underline;
  color: black;
  text-align: center;
}

.footer-menu .footer__link_active {
  text-decoration: none;
}

.social-icons {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.social-icons a {
  margin-right: 48px;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons img {
  width: 48px;
  height: 48px;
}